{% extends 'blog/base.html' %}

{% block content %}
    {% if LoginUser == author %}
        <a href="{% url 'post_edit' pk=post.pk %}" class="edit">編集</a>
        <a href="{% url 'post_delete' pk=post.pk %}" class="delete">削除</a>
    {% endif %}
    <div class="post">
        {% if post.published_date %}
            <p class="date">公開日: {{ post.published_date }}</p>
        {% endif %}
        <p class="author">投稿者: {{ post.author }}</p>
        <h2 class="title">{{ post.title }}</h2>
        <p class="text">{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}
