        {% extends 'blog/base.html' %}
        
        {% block content %}    
            {% for post in posts %}
                <div class="post">
                    <p class="date">公開日: {{ post.published_date }}</p>
                    <p class="author">投稿者: {{ post.author }}</p>
                    <h2 class="title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title|truncatechars_html:50 }}</a></h2>
                    <p class="text">{{ post.text|linebreaksbr|truncatechars_html:20 }}</p>
                </div>
            {% endfor %}
        {% endblock %}