body {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: beige;
}

/* ヘッダー */
.page-header {
    position: fixed;
    width: 100%;
    border-bottom: solid 2px black;
    padding: 20 0 20 40;
    background-color: darkolivegreen;
    z-index: 100;
    text-decoration: underline;
    color: white;
}

.page-header h1 {
    font-size: 40;
    color: white;
}

/* ホームメニュー */
ul {
    padding: 0 0 0 20;
    list-style: None;
}

.home-menu {
    height: 100%;
    border-right: solid 2px black;
    padding-right: 20;
    background-color: beige;
    position: fixed;
    top: 153.6;
}

.home-menu li {
    margin-bottom: 10;
    border-left: solid 10px darkolivegreen;
    padding: 2 30 2 10;
    background-color: beige;
    font-weight: bold;
}

.home-menu ul li a {
    text-decoration: None;
    color: black;
}


.home-menu ul li a:hover , .home-menu li:hover{
    background-color: olivedrab;
}

/* コンテント */
.content {
    position: absolute;
    top: 170.6;
    left: 180;
    padding: 0 0 0 40;
}

/* ポスト */
.post {
    margin-top: 20;
}

.post .date, .post .author {
    color: gray;
}

.post .date {
    margin: 0 0 0 0;
}

.post .author {
    margin: 0 0 8 0;
}

.post .title {
    margin: 0;
}

.post .title a{
    margin: 0;
    padding-left: 10;
    border-left: solid 10px black;
    border-bottom: solid 3px black;
    text-decoration: None;
    color: black;
}

.post .title a:hover {
    text-decoration: underline;
    color: darkolivegreen;
}

.post .text {
    margin: 8 0 40 0;
}

/* 編集・削除ボタン */
.edit, .delete{
    border: solid 2px black;
    padding: 2;
    background-color: lightgray;
    text-decoration: None;
    color: black;
}

.edit:hover, .delete:hover{
    background-color: olivedrab;
}